<div class="row mt-4">
    <div class="col">
        <div>
            <h3>Bienvendio <%= current_user.username %></h3>
        </div>

        <div>
            <%= link_to 'Cerrar sesión', logout_path, method: :delete %>
        </div>
        
        <div>
            <%= link_to products_path, class: 'btn btn-info' do %>
                Inventario <i class="fas fa-shopping-cart"></i> 
            <% end %>
        </div>
        
    </div>
</div>