<div class="row mt-2">
  <div class="col">
    <%= link_to 'Regresar al listado', products_path %>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <%= @product.name %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><% @product.code %></h5>
        <p class="card-text">Cantidad: <strong><%= @product.stock %></strong></p>
        <%= link_to 'Editar', edit_product_path(@product), class: "btn btn-warning" %>
      </div>
    </div>

  </div>
</div>